.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader {
  width: fit-content;
  font-size: 48px; 
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  color: white;
  background: 
    linear-gradient(#fff 0 0) left,
    linear-gradient(#fff 0 0) right;
  background-repeat: no-repeat; 
  border-right: 5px solid #0000;
  border-left: 5px solid #0000;
  background-origin: border-box;
  position: relative;
  animation: l9-0 2s infinite;
}

.loader::before {
  content: "Loading";
}

.loader::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 44px; 
  height: 120px; 
  background: 
    linear-gradient(90deg, #fff 8px, #0000 0 calc(100% - 8px), #fff 0) bottom / 44px 40px,
    linear-gradient(90deg, #1100ff 8px, #0000 0 calc(100% - 8px), #1100ff 0) bottom 20px left 0 / 44px 12px,
    linear-gradient(#fff 0 0) bottom 6px left 0 / 44px 16px,
    linear-gradient(#fff 0 0) bottom 0 left 50% / 16px 32px;
  background-repeat: no-repeat;
  animation: l9-1 2s infinite;
}

@keyframes l9-0 {
  0%, 25% {
    background-size: 50% 100%;
  }
  25.1%, 75% {
    background-size: 0 0, 50% 100%;
  }
  75.1%, 100% {
    background-size: 0 0, 0 0;
  }
}

@keyframes l9-1 {
  25% {
    background-position: bottom, bottom 108px left 0, bottom 6px left 0, bottom 0 left 50%;
    left: 0;
  }
  25.1% {
    background-position: bottom, bottom 20px left 0, bottom 6px left 0, bottom 0 left 50%;
    left: 0;
  }
  50% {
    background-position: bottom, bottom 20px left 0, bottom 6px left 0, bottom 0 left 50%;
    left: calc(100% - 44px);
  }
  75% {
    background-position: bottom, bottom 108px left 0, bottom 6px left 0, bottom 0 left 50%;
    left: calc(100% - 44px);
  }
  75.1% {
    background-position: bottom, bottom 20px left 0, bottom 6px left 0, bottom 0 left 50%;
    left: calc(100% - 44px);
  }
}
