html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black; 
  font-family: 'Arial', sans-serif; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-content {
  opacity: 0;
  background-color: black;
  transition: opacity 2s ease; 
  min-height: 100vh;
}

.page-content.show {
  opacity: 1;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader {
  font-size: 48px;
  color: white;
  font-family: monospace;
  background: 
    linear-gradient(#fff 0 0) left,
    linear-gradient(#fff 0 0) right;
  background-repeat: no-repeat;
  position: relative;
  animation: l9-0 2s infinite;
}

@keyframes l9-0 {
  0%, 25% { background-size: 50% 100%; }
  25.1%, 75% { background-size: 0 0, 50% 100%; }
  75.1%, 100% { background-size: 0 0, 0 0; }
}
